@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,300&display=swap');

*, *::before, *::after {
	box-sizing: border-box;
}

/* body {
	font-family: 'Questrial', sans-serif;
} */

/* ローディング画面 */
.loading{
	width: 100vw;
	height: 100vh;
	background-color: #000;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
}

.loading img{
	display: none;
	width: 350px;
}

main {
	height: 100vh;
	background-color: #000;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: 'Montserrat', sans-serif;
}

.textAnimation {
	color: #fff;
	font-size: 70px;
	letter-spacing: .7em;
}

.textAnimation:not(:first-of-type) {
	margin-top: 20px;
}

@keyframes showTextFromBottom {
	0% {
		transform: translateY(100%);
	}
	100% {
		transform: translateY(0px);
	}
}

.textAnimation span {
	display: inline-block;
}

.textAnimation span#tAnmLast {
	margin-right: -.7em;
}

.textAnimation > span {
	overflow: hidden;
}

.textAnimation > span > span {
	animation: showTextFromBottom cubic-bezier(0.075, 0.82, 0.165, 1) 1s backwards;
}

/* .textAnimation span:nth-of-type(odd) {
	animation: showTextFromTop ease-out 3s backwards;
}

.textAnimation span:nth-of-type(even) {
	animation: showTextFromBottom ease-out 3s backwards;
} */